<div class='logCont'>
    <div class='headText'>About Us / Contact</div>
</div>
<div class='cFlex botTom'>
    <div class='imgFlex'>
        <div class="imgCont">
            <img class='awayPic' src='/public/bd1.jpg'></img>
        </div>
        <div class="imgCont">
            <div class='awayDesc'>
                <div class='awayTitle'>About Us</div>
                <div class='awayBody'>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
            </div>
        </div>
    </div>
    <div class='imgFlexBord'>
        <div class="imgContWhite">
            <div class='awayDescBlack'>
                    <div class='awayTitle'>Contact / Location</div>
                    <div class='awayBody lHeight'>3233 Mission Oaks Blvd. Unit F</div>
                    <div class='awayBody lHeight'>Camarillo CA 93012</div>
                    <div class='awayBody lHeight'>Store Manager: Rich</div>
                    <div class='awayBody lHeight'>
                        <a class='noDec color' href='mailto:rich@scrapdr.com'>rich@scrapdr.com</a>
                    </div>
                    <div class='awayBody lHeight'>
                        <a class='noDec color' href='tel:8053120327'>(805) 312-0327</a>
                    </div>
    
                </div>
            </div>        
        <div class="imgContWhite">
            <img class='awayPicRight' src='/public/bd2.jpg'></img>
        </div>
    </div>
    <div class='imgFlex'>
        <div class="imgCont">
            <img class='awayPic' src='/public/bd3.jpg'></img>
        </div>
        <div class="imgCont">
            <div class='awayDesc'>
                <div class='awayTitle'>Store Hours</div>
                <div class='awayBody lHeight'>Monday  8AM-7PM</div>
                <div class='awayBody lHeight'>Tuesday  8AM-7PM</div>
                <div class='awayBody lHeight'>Wednesday  8AM-7PM</div>
                <div class='awayBody lHeight'>Thursday  8AM-7PM</div>
                <div class='awayBody lHeight'>Friday  8AM-7PM</div>
                <div class='awayBody lHeight'>Saturday  8AM-7PM</div>
                <div class='awayBody lHeight'>Sunday  Closed</div>
            </div>
        </div>
    </div>
</div>