<div class='adminCont'>
  <a href='/admin/dashboard' class='adText noDec'>Admin Dashboard</a>
  <div class='adLinkCont'>
      <a href='/admin/dashboard' class="noDec adLink">Home</a>
      <a href='/admin/addlist' class="noDec adLink">Add Inventory</a>
      <a href='/admin/logout' class="noDec adLink">Logout</a>
  </div>
</div>
<% include ./partials/messages %>
<form action='/admin/upload' method="POST">
  <div class='dFlex'>
    <div class='inputCont'>
      <label for="title">Item Title</label>
      <input class="addInput" type='text' id="title" name='title' placeholder="Item Title" autocomplete="off">
    </div>
    <div class='inputCont'>
        <label for="price">Item Price</label>
        <input class="addInput" type='number' id='price' name='price' placeholder="Item Price" step="0.01" autocomplete="off">
      </div>
    <div class='inputCont'>
      <label for="whid">Warehouse ID</label>
      <input class="addInput" type='text' id='whid' name='whid' placeholder="Warehouse ID" autocomplete="off">
    </div>
  </div>
  <div class='dFlex'>
      <div class='inputContDesc'>
        <label for="desc">Item Description</label>
        <textarea class="addInputDesc" type='text' id='desc' name='desc' placeholder="Item Description" autocomplete="off"></textarea>
      </div>
  </div>
  <button class="subBut" type="submit" class="Submit Top">Add</button>
</form>