<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' type="text/css" href='/public/index.css'>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Monda" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="shortcut icon" href="../public/favicon.png">
    <title>Bulldog Liquidators</title>
</head>
<body>
    <div class='mainWrap'>
        <div class='navBar'>
            <a href='/' class="noDec">
                <img class='mainLogo' src='/public/bulldoglogo.png'>
            </a>
            <div class='navLinks'>
                <a href='/listings' class="noDec linkText">Inventory</a>
                <a href='/contact' class="noDec linkText">Contact</a>
                <a href='/about-us' class="noDec linkText">About Us</a>
            </div>
        </div>
        <div class="container">
            <%- body %>
        </div>
    </div>
    <div class='footer'>
        <div class='rFlex locText justCont'>
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13196.529364028445!2d-119.0258574!3d34.2196391!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x5d5a33eddb2a57e2!2sBulldog+Liquidators!5e0!3m2!1sen!2sus!4v1552507157811" class='locMap' allowfullscreen></iframe>
            <div class='cFlex locInfo'>
                <div class='richEmail'>3233 Mission Oaks Blvd. Unit A</div>
                <div class='richEmail'>Camarillo CA 93012</div>
                <div class='richEmail'>Store Manager: Rich</div>
                <div class='richEmail'>
                    <a class='noDec color' href='mailto:richd@bulldogliquidators.com'>richd@bulldogliquidators.com</a>
                </div>
                <div class='richEmail'>
                    <a class='noDec color' href='tel:8053120327'>(805) 312-0327</a>
                </div>
            </div>
        </div>                        
      <div class='madeBy'>
          <div class="cFlex">
              <div class='rFlex'>
                  <% if (curUser == true) { %>
                      <a href='/admin/dashboard' class='noDec footText'>Dashboard</a>
                  <% } else { %>
                      <a href='/admin/login' class='noDec footText'>Admin Login</a>
                  <% } %>
                  <div>|</div>
                  <a href='/listings' class='noDec footText'>Inventory</a>
                  <div>|</div>
                  <a href='/about-us' class='noDec footText'>About Us</a>
                  <div>|</div>
                  <a href='/contact' class='noDec footText'>Contact Us</a>
              </div>
              <div class='rFlex'>
                  <div class='footCont'>
                      <div class='footDiv'>Copyright © 2018</div>
                      <a href="https://bulldogliquidators.com/" class="footText footDiv">Bulldog Liquidators</a>        
                  </div>
                  <div> - </div>
                  <div class='footCont'>
                      <div class='footDiv'>Made by </div>
                      <a href="http://taylorjohannsen.com/" class="footText footDiv">Taylor Johannsen</a>
                  </div>
              </div>
          </div>
      </div>
      </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src='/public/client.js'></script>
</body>
</html>

