<div class='logCont'>
  <img src='/public/bulldoglogo.png'>
</div>
<div class='logCont'>
  <div class='cFlex'>
    <div class='logText'>Admin Login</div>
    <% include ./partials/messages %>
    <form action='/admin/login' method="POST">
      <div class='userLabel'>Username</div>
      <input type='name' id="name" name='name' class='userInput'>
      <div class='userLabel'>Password</div>
      <input type='password' id="password" name='password' class='userInput'>
      <br>
      <button type='submit' class='subBut'>Login</button>
    </form>
  </div>
</div>