body, html {
    font-family: 'Late', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}
.test {
    height: 100px;
    padding: 10px;
}
.cats {
    margin-left: 100px;
}
#big {
    height: 200px;
}

.mainWrap {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.container {
    margin-left: 20%;
    margin-right: 20%;
    flex: 1;
}
.noDec {
    text-decoration: none;
}
.navBar {
    border-bottom: 1px solid rgba(0, 0, 0, 0.082);
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.mainLogo {
    height: 60px;
    padding-bottom: 5px;
}
.navLinks {
    padding-top: 22px;
}
.linkText {
    font-size: 18px;
    padding-left: 10px;
    color: black;
}
.linkText:hover {
    color: rgb(95, 95, 95);
}
.footer {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.048);
    color: white;
    display: flex;
    flex-direction: column;
}
iframe {
    border-width: 0;
}
.locText {
    color: black;
}
.locInfo {
    padding-top: 0px;
    height: 180px;
    width: 300px;
    margin-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    border-left: 1px solid rgba(0, 0, 0, 0.247);
}
.justCont {
    justify-content: center !important;
}
.locMap {
    width: 300px;
    margin-bottom: 20px;
    outline: 0;
    padding-left: 40px;
    padding-right: 40px;

}
.richEmail {
    padding: 10px;
    padding-left: 0;
}
.richEmail:first-child {
    padding-top: 0;
}
.color {
    color: rgb(2, 79, 131)
}
.color:hover {
    color: rgb(95, 95, 95);
}
.madeBy {
    height: 100px;
    width: 100%;
    background-color: rgb(0, 61, 102);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.cFlex {
    display: flex;
    flex-direction: column;
}
.rFlex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
}
.footText {
    color: white;
    font-size: 14px;
}
.footText:hover {
    color: rgb(1, 92, 211);
}
.footDiv {
    font-size: 14px;
    color: white;
    padding-left: 5px;
}
.footCont {
    display: flex;
    flex-direction: row;
    padding-left: 0px;
    padding-right: 10px;
    margin-bottom: 20px;
}
