body, html {
    font-family: 'Late', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}
#big {
    width: 100%;
}
.mainWrap {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.container {
    flex: 1;
    margin-left: 20%;
    margin-right: 20%;
}
.noDec {
    text-decoration: none;
}
.navBar {
    margin-top: 100px;
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Monda', sans-serif !important;
    font-weight: 600;
    margin-bottom: 100px;
}
.mainLogo {
    height: 80px;
    padding-bottom: 5px;
}
.navLinks {
    padding-top: 20px;
}
.linkText {
    font-size: 18px;
    padding-left: 60px;
    color: black;
}
.linkText:hover {
    color: rgb(95, 95, 95);
}
.footer {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.048);
    color: white;
    display: flex;
    flex-direction: column;
}
iframe {
    border-width: 0;
}
.locText {
    color: black;
}
.locInfo {
    padding-top: 0px;
    height: 180px;
    width: 300px;
    margin-bottom: 20px;
    padding-left : 40px;
    padding-right: 32.5px;
    border-left: 1px solid rgba(0, 0, 0, 0.247);
}
.justCont {
    justify-content: center !important;
}
.locMap {
    width: 300px;
    margin-bottom: 20px;
    outline: 0;
    padding-left: 40px;
    padding-right: 40px;

}
.richEmail {
    padding: 10px;
    padding-left: 0;
}
.richEmail:first-child {
    padding-top: 0;
}
.color {
    color: rgb(2, 79, 131)
}
.color:hover {
    color: rgb(95, 95, 95);
}
.madeBy {
    height: 100px;
    width: 100%;
    background-color: #444c5e;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.cFlex {
    display: flex;
    flex-direction: column;
}
.rFlex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 20px;
}
.footText {
    color: white;
    font-size: 14px;
}
.footText:hover {
    color: rgb(1, 92, 211);
}
.footDiv {
    font-size: 14px;
    color: white;
    padding-left: 5px;
}
.footCont {
    display: flex;
    flex-direction: row;
    padding-left: 0px;
    padding-right: 10px;
    margin-bottom: 20px;
}
.imgDiv {
    height: 600px;
    overflow: hidden;
    box-shadow: 0px 0px 5px 1.5px rgba(0, 0, 0, 0.685);
}
.frontImg {
    height: 700px;
}
.welCont {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.welText {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.welHeader {
    font-size: 50px;
    padding-bottom: 25px;
    font-weight: 700;
    border-bottom: 0.5px solid rgba(128, 128, 128, 0.534);
}
.welBody {
    padding-top: 25px;
    font-size: 20px;
    margin-bottom: 100px;
}
.ourProd {
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 50px;
    color: black;
}
.listCont {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.aListing {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.123);
    height: 400px;
    width: 340px;
    margin-bottom: 40px;
}
.listImgCont {
    height: 210px;
    width: 340px;
    background-color: #444c5e;
    padding-bottom: 10px;
}
.listImg {
    height: 240px;
}
.listMar {
    margin: 10px;
    height: 200px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.priDate {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.price {
    font-size: 15px;
    font-weight: 500;
}
.date {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.445);
}
.title {
    text-align: center;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    height: 95px;
    overflow: hidden;
}
.titleText {
    color: black;
}
.titleText:hover {
    color: rgb(95, 95, 95);
}
.fRight {
    float: right;
    margin-bottom: 100px;
    margin-right: 30px;
}
.logCont {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.logText {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.headText {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 50px;

}
.userLabel {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 15px;
}
.userInput {
    width: 300px;
    height: 30px;
    outline: 0;
    padding-left: 10px;
    margin-bottom: 30px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid black;
    transition: 1s ease all;
}
.userInput:focus {
    transition: 1s ease all;
    background-color: rgba(128, 128, 128, 0.527);
}
.subBut {
    margin-right: 5px;
    font-size: 20px;
    color: white;
    border: none;
    background-color: #444c5e;
    float: right;
    padding: 10px;
    border-radius: 5px;
}
.subBut:hover {
    background-color: rgb(19, 100, 155);
}
.message {
    text-align: center;
    margin: 30px;
    font-size: 20px;
}
.botMar {
    margin-bottom: 50px;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
}
.searchBar {
    width: 85%;
    height: 30px;
    outline: 0;
    padding-left: 10px;
    margin-bottom: 30px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid black;
    transition: 1s ease all;
}
.searchBar:focus {
    transition: 1s ease all;
    background-color: rgba(128, 128, 128, 0.527);
}
.searchBut {
    height: 35px;
    background-color: #444c5e;
    color: white;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 15px;
}
.searchBut:hover {
    background-color: rgb(19, 100, 155);
}
.quickPad {
    padding-left: 30px;
    padding-right: 30px;
}
.space {
    justify-content: space-between;
}
.awayPic {
    height: 350px;
    margin-top: 25px;
    margin-left: 20px;
    box-shadow: 0px 0px 5px 2.5px rgba(0, 0, 0, 0.315);
}
.awayPicRight {
    height: 350px;
    margin-top: 25px;
    float: right;
    margin-right: 20px;
    box-shadow: 0px 0px 5px 2.5px rgba(0, 0, 0, 0.315);
}
.imgFlex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 2px solid black;
}
.imgFlexBord {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.imgCont {
    width: 50%;
    height: 400px;
    background-color: #444c5e;
}
.imgContWhite {
    width: 50%;
    height: 400px;
}
.awayDesc {
    margin-top: 35px;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}
.awayDescBlack {
    margin-top: 35px;
    color: black;
    text-align: center;
    display: flex;
    flex-direction: column;

}
.botTom {
    margin-bottom: 100px;
}
.awayTitle {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
}
.awayBody {
    font-size: 20px;
}
.lHeight {
    line-height: 2;
}
.adminCont {
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.377);
    margin-bottom: 30px;
}
.adText {
    font-size: 30px;
    font-weight: 300;
    margin-left: 20px;
    color: black;
}
.adLinkCont {
    font-size: 20px;
    font-family: 'Monda', sans-serif;
}
.adLink {
    padding-left: 20px;
    color: black;
}
.adLink:hover {
    color: rgb(95, 95, 95);
}
.deletePost {
    font-size: 15px;
    background-color: white;
    color: black;
    border: 2px solid black;
}
.deletePost:hover {
    color: rgb(95, 95, 95);
    border: 2px solid rgb(95, 95, 95);
}
.botRight {
    text-align: right;
    margin-right: 15px;
}
.dFlex {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.leftM {
    margin-left: 10px;
}
.inputCont {
    width: 300px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 20px;
    margin-right: 10px;
    margin-left: 10px;
}
.inputContDesc {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 20px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 30px;
}
.addInput {
    height: 30px;
    padding-left: 10px;
    margin-top: 10px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid black;
    outline: 0;
    transition: 1s ease all;
}
.addInput:focus {
    transition: 0.5s ease all;
    background-color: rgba(128, 128, 128, 0.527);
}
.addInputDesc {
    margin-top: 10px;
    height: 150px;
    width: 800px;
    max-width: 800px;
    padding-left: 10px;    
    padding-top: 10px;    
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid black;
    outline: 0;
    transition: 1s ease all;
    font-family: inherit;
    margin-bottom: 30px;
}
.addInputDesc:focus {
    transition: 0.5s ease all;
    background-color: rgba(128, 128, 128, 0.527);
}
.quickBor {
    border: 5px solid black;
    overflow: auto;
    padding: 20px;
    margin-bottom: 30px;
}
.quickText {
    font-size: 25px;
    font-weight: 200;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 30px;
}
.formFlex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 30px;
    border-top: 1px solid black;
    flex-wrap: wrap;
}
.formCont {
    width: 200px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-bottom: 20px;
}
.formImg {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.fileForm {
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.fileUpload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 12px 15px;
    cursor: pointer;
    margin-right: 20px;
}
#myImage {
    display: none;
}
.butWid {
    width: 150px;
}
.imgColumn {
    display: flex;
    flex-direction: column;
}
.newCont {
    max-width: 600px;
    height: 400px;
    background-color: black;
    border: 2px solid black;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.bigPhoto {
    min-height: 100%;
}
.smallPhoto {
    height: 70px;
    filter: brightness(70%);
}
.smallCont {
    display: flex;
    flex-direction: row;
    width: 550px;
    flex-wrap: wrap;
    margin-top: 10px;
}
.newDec {
    width: 80px;
    overflow: hidden;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: none;
}
.smallMar {
    width: 80px;
    overflow: hidden;
    border: 5px solid black;
    margin-right: 10px;
    margin-bottom: 10px;
}
.contentCont {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}
.borLeft {
    margin-right: 30px;
}
.borRight {
    padding-left: 30px;
}
.listTitle {
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 10px;
}
.titleDate {
    display: flex;
    flex-direction: column;
    min-width: 300px;
}
.listDate {
    font-size: 14px;
    color: rgba(128, 128, 128, 0.692);
}
.dateWH {
    margin-bottom: 15px;
}
.listPrice {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 20px;
}
.offWhite {
    background-color: rgba(204, 204, 204, 0.199);
    padding-top: 30px;
    margin-bottom: 30px;
}
.recommended {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 200;
    margin-left: 10px;
    margin-top: 120px;
}
.editPho {
    height: 100px;
    padding-bottom: 10px;
}
.topEdit {
    margin-bottom: 50px;
}

@media only screen and (max-width: 1100px) {
    .container {
        margin-left: 1%;
        margin-right: 1%;
    }
    .navBar {
        margin-left: 3%;
        margin-right: 3%;
    }
}

